// CI only: shrink the labels to fit a 2 core runner and skip containers,
// since -stub-run never executes cellranger.

singularity.enabled = false

process {
  withName:CELLRANGER_COUNT { cpus = 2 ; memory = 4.GB }
  withName:CELLRANGER_AGGR  { cpus = 2 ; memory = 4.GB }
  withName:CELLRANGER_ARC_COUNT { cpus = 2 ; memory = 4.GB }
  withLabel:process_low    { cpus = 1 ; memory = 2.GB }
  withName:COMBINE_METRICS { cpus = 1 ; memory = 2.GB }
  withLabel:process_medium { cpus = 1 ; memory = 2.GB }
  withLabel:process_high   { cpus = 2 ; memory = 4.GB }
}
